/* Welcome Message */
.welcome-message {
  font-family: 'Bangers', cursive; /* Custom Bangers font */
  font-size: 3rem; /* Larger text for emphasis */
  text-align: center;
  color: #1a1a1a; /* Black text color */
  margin-bottom: 2rem; /* Space below the message */
}

/* Game Boxes Container */
.game-boxes {
  display: flex;
  flex-direction: column; /* Stack game boxes vertically */
  align-items: center;
  gap: 2rem; /* Space between boxes */
}

/* Game Boxes */
.game-box {
  background-color: #defc99; /* Default box color */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  font-weight: bold;
  padding: 30px 50px; /* Adds more padding for a rectangular shape */
  border-radius: 8px; /* Rounds the edges for a modern look */
  width: 80%; /* Makes boxes take 80% of the container width */
  max-width: 400px; /* Caps the maximum width */
}

.game-box:hover {
  background-color: #b5f77d; /* Light Green on hover */
}

.game-box p {
  margin: 0;
  font-size: 1.5rem; /* Slightly larger text */
  color: #000000; /* Black text */
}

/* Footer */
.footer {
  background-color: #e0e0e0; /* Gray background */
  color: #000000; /* Black text */
  text-align: center;
  padding: 0.5rem 0; /* Smaller footer height */
  font-size: 0.75rem; /* Smaller text */
}

/* Modal Styles */
.modal {
  display: flex; /* Ensure modal is displayed */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999; /* High z-index to appear above other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-text {
  font-size: 2rem; /* Larger text size */
  font-weight: bold; /* Make the text bold */
  margin-bottom: 20px; /* Space below text */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
}
