@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

.profile-page {
  padding: 20px;
}

.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.image-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-options img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.profile-info .title {
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
}

.button.save-changes {
  background-color: #28a745;
  color: white;
  transition: background-color 0.3s ease;
}

.button.save-changes.unsaved {
  background-color: #ffc107; /* Warning color for unsaved changes */
}

.button.save-changes:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
