@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

.profile-page {
  padding: 20px;
  display: flex; 
  align-items: stretch;
  min-height: 100vh;
}

.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-height: 300px;
  padding: 20px; 
}

.profile-image .title { 
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #383838; 
  margin-bottom: 20px; 
  border-bottom: 3px solid #defc99;
  text-align: center;
  padding-bottom: 10px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.image-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-options img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.profile-info { 
  border: 4px solid #defc99; 
  padding: 20px; 
  flex: 1; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  min-height: 300px;
}

.profile-info .title {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #383838; 
  margin-bottom: 20px; 
  border-bottom: 3px solid #defc99;
  text-align: center;
  padding-bottom: 10px;
}

.profile-info p {
  margin-bottom: 1rem; 
  font-size: 1rem;
}

.button {
  margin-top: 10px;
  background-color: #defc99;
  color: #383838;
  box-shadow: 0 4px 8px rgba(104, 156, 59, 0.322);
}

.button.save-changes {
  color: white;
  transition: background-color 0.3s ease;
}

.button.save-changes.unsaved {
  background-color: #defc99; /* Warning color for unsaved changes */
  color: #383838;
}

.button.save-changes:disabled {
  background-color: #989696;
  cursor: not-allowed;
  box-shadow: 0 4px 8px rgba(104, 156, 59, 0.322);
}


