@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Delius+Unicase:wght@400;700&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

.ingame-nav-container {
    width: 50%;
}

.ingame-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Zain';
    font-size: 18pt;
    margin-top: 0px;
    margin-bottom: 5px;
    color: gray;
}

.ingame-nav-element {
    border-right: 1px solid gray;
    flex-grow: 1;
    margin-right: 5%;
}

.ingame-nav-element:last-child {
    border-right: none;
}

.ingame-nav-element:hover {
    color: #cddd49;
    cursor: pointer;
}

/* How to Play CSS */
.rules-popup {
    position: relative;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rules-popup .exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10; 
    color: black;
    display: block;
    visibility: visible;
    opacity: 1;
}

.rules-popup .exit-button:hover { 
    color: red; 
}

.rules-section {
    list-style-type: disc; /* Add bullet points */
    margin-left: 20px;     
    padding: 0;
}

.rules-section li {
    margin-bottom: 10px; /* Add space between each list item */
}
